<html>
    <head>
        <title>FBI</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/images/favicon.ico') }}">
        <link href="{{ url_for('static', path='/styles/report.css') }}" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
                <h1>Hey, {{ rest_name }}!</h1>
                <hr style="width: 100%"><br><br>
                <iframe type="text/html" src="/plot/onl_ord" class="onl_ord" frameBorder="0"></iframe>
                <iframe type="text/html" src="/plot/cost_rating" class="cost_rate" frameBorder="0"></iframe><br>
                <span class="annotations_onlord">{{ p1_msg }}<br><br></span>
                <span class="annotations_costrate">{{ p2_msg }}<br><br></span>
                <iframe type="text/html" src="/plot/count_heatmap" class="onl_ord" frameBorder="0"></iframe>
                <iframe type="text/html" src="/plot/cuisine_count" class="cuisine_count" frameBorder="0"></iframe><br>
                <span class="annotations_onlord">{{ p3_msg }}<br></span>
                <span class="annotations_costrate">{{ p4_msg }}<br><br></span>
                <iframe type="text/html" src="/plot/count_vote" class="vote_count" frameBorder="0"></iframe>
                <img src="{{ url_for('static', path='/images/cuisine_wordcloud.png') }}" class="wordcloud" alt="Word Cloud">
                <span class="annotations_onlord">{{ p5_msg }}<br></span>
                <span class="annotations_costrate">{{ p6_msg }}<br><br></span>
        </div> 
    </body>
</html>